.note {
  position: relative;
  margin: 0 auto;
  background: #ecf0f1;
  width: 300px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333;
}

.note:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(
    left,
    #27ae60 0%,
    #27ae60 20%,
    #8e44ad 20%,
    #8e44ad 40%,
    #3498db 40%,
    #3498db 60%,
    #e74c3c 60%,
    #e74c3c 80%,
    #f1c40f 80%,
    #f1c40f 100%
  );
  background: -moz-linear-gradient(
    left,
    #27ae60 0%,
    #27ae60 20%,
    #8e44ad 20%,
    #8e44ad 40%,
    #3498db 40%,
    #3498db 60%,
    #e74c3c 60%,
    #e74c3c 80%,
    #f1c40f 80%,
    #f1c40f 100%
  );
  height: 5px;
  border-radius: 5px 5px 0 0;
}

.note-title{
  padding: 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  border-radius: 6px 6px 0 0;
  font-weight: bold;
}

.note-content{
  padding: 15px;
}

.note-field{
  margin-bottom: 20px;
}

.note-field-title{
  margin-bottom: 10px;
  font-weight: 600;
  color: #403b3b;
}