button {
  background: #e74c3c;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none;
  padding: 0 20px;
}

button:hover {
  box-shadow: 1px 1px 5px #555;
}

button:active {
  box-shadow: 1px 1px 7px #222;
}

.login-btn {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 40px;
  font-size: 18px;
  padding: 0;
}

.add-btn {
  background: #ecf0f1;
  border: none;
  color: #555555;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline: 0;
  -moz-outline-style: none;
  box-shadow: inset -2px -2px 10px 0px #ccc;
}

.add-btn:hover {
  box-shadow: 1px 1px 5px #555;
}

.add-btn:active {
  box-shadow: 1px 1px 7px #222;
}
