.localization {
  display: flex;
  justify-content: end;
}
.localization-wrap {
  height: 30px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none;
  border: 1px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}
