.add-note {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notes-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.notes-list-wrap h2 {
  text-align: center;
  margin-bottom: 20px;
}
