.input-wrap {
  position: relative;
}

input[type='text'],
input[type='password'] {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none;
  border: 1px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 14px;
}

input[type='text']:focus,
input[type='password']:focus {
  border: 1px solid #3498db;
}

.view {
  background: url('../src/assets/view.svg') 0 0 no-repeat;
  transition: 0.5s;
}

.no-view {
  background: url('../src/assets/no-view.svg') 0 0 no-repeat;
  transition: 0.5s;
}

.password-control {
  position: absolute;
  top: 11px;
  right: 15%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
