.change-password-title {
  text-align: center;
  font-weight: 200;
  font-size: 2em;
  margin-top: 10px;
  color: #34495e;
}

.change-password-form {
  padding-top: 20px;
}

.change-password-form a p {
  padding-bottom: 10px;
}
.link {
  text-align: center;
}
